<div [@floatInSpace] class="toolbar" role="banner">
  <img src="assets/img/logo-uvigo.png" height="50" width="50" />
  <span> UVigo - NST </span>    
</div>

<div [@floatInSpace] class="card highlight-card card-small">
  <h2> Welcome to NST minting APP! </h2>
</div>

<div [@floatInSpace] class="neon-text">
  <p> Mint your tokens with ERC-721 and ERC-1155 standards </p>
</div>


<div [@floatInSpace] class="buttons">
  <a class="bn" (click)="mint721()"> <span class="bnspan"> Mint 721 </span> </a>
  <a class="bn" (click)="mint1155()"> <span class="bnspan"> Mint 1155 </span> </a>
</div>

<div [@floatInSpace] class="buttons">
  <a class="bnshow" (click)="show()"> <span class="bnshowspan"> Show NFTs </span> </a>
</div>
      